.myswiper {
    position: relative;
    padding-bottom: 40px;
  }
  img{
    width: 100%;
  }
  .card {
    padding: 0 8px;
    overflow: hidden;
  }
  
  .card__title {
    text-align: center;
    transition: opacity .3s;
  }
  
  .swiper-slide:not(.swiper-slide-active) .card__title {
    opacity: 0;
  }