.box1{
    height: 100px;
    /* width:380px; */
    flex: 1;
    background-color: aqua;
}
.box2{
    height: 100px;
    /* width:380px; */
    flex: 2;
    background-color: red;
}
.box3{
    height: 100px;
    /* width:380px; */
    flex: 3;
    background-color: green;
}
.box4{
    height: 100px;
    /* width:380px; */
    flex: 4;
    background-color: yellow;
}
.box5{
    height: 100px;
    /* width:380px; */
    flex: 5;
    background-color: rgb(247, 3, 190);
}
.main{
    display: flex;
    flex-wrap: wrap;
    /* height: 200px; */
    border: 2px solid black;
    /* width: 60%; */
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* gap: 10px; */

}
